
parent{
    width: 100%;
    height: 80%;
    margin: 0;
    background-color: #fff;
    display: flex;
    flex-basis: 50%;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding-top: 200px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
  }

section{
   flex-shrink: 1;
   flex-basis: auto;
    font-family: Arial;
    color: #0e0620;
    font-size: 16px;
}

 h1{
    font-size: 120px;
    padding-bottom: 40px;
 }

 h2{
     font-size: 32px;    
 }

 div{    
     padding-top: 20px;
     line-height: 2;     
 }

 button{
     width: 160px;;
     height:45px;
     font-size: 16px;
     border: solid #2ccf6d; 
     font-weight: bold;
     border-radius: 30px;
     font-family: Arial;
     color: #0e0620;
     background-color: #fff
 }